*{
    margin: 0;
    padding: 0;
}
.background-image{
        height: 100vh;
        background-image: url(.//hh/hong.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

}
